<h1><%= @cocktail.name %></h1>
<ul> <% @cocktail.doses.each do |dose| %>
	<li><p><%= "#{dose.ingredient.name} -- #{dose.description}" %></p>
		<%= link_to "delete dose", dose_path(dose), method: :delete %>
	</li>
	<% end %>
</ul>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)  %>
<%= link_to "Return to my cocktails", cocktails_path  %>
